(
    tasks: [
        (
            id: "camera_CN0V976R8LG000CIBJ93A01_Integrated_Webcam_HD_200901010001",
            type: "CamPipeline",
            config: {
                "width": 1280,
                "id": "CN0V976R8LG000CIBJ93A01_Integrated_Webcam_HD_200901010001",
                "name": "A",
                "height": 720,
            },
            missions: None,
        ),
        (
            id: "gst_to_cu_CN0V976R8LG000CIBJ93A01_Integrated_Webcam_HD_200901010001",
            type: "GstToCuImage",
            config: {
                "fourcc": "GREY",
                "width": 1280,
                "height": 720,
            },
            missions: None,
        ),
        (
            id: "apriltags_CN0V976R8LG000CIBJ93A01_Integrated_Webcam_HD_200901010001",
            type: "chalkydri_apriltags::AprilTags",
            config: {
                "calib": "{\"OpenCVModel5\":{\"fx\":913.9905862227868,\"fy\":915.094040018494,\"cx\":618.0117786936219,\"cy\":352.90071050281426,\"k1\":-0.1911651209479348,\"k2\":0.55657830527566,\"p1\":-0.001,\"p2\":-0.001,\"k3\":-0.4915226738830887,\"width\":1280,\"height\":720}}",
                "cam_id": 0,
                "robot_to_cam": "{\"rot_w\":0.0,\"rot_x\":0.0,\"rot_y\":0.0,\"rot_z\":0.0,\"trans_x\":0.0,\"trans_y\":0.0,\"trans_z\":0.0}",
            },
            resources: {
                "comm": "comm.comm",
            },
            missions: None,
        ),
    ],
    resources: [
        (
            id: "comm",
            provider: "whacknet::CommBundle",
        ),
    ],
    bridges: None,
    cnx: [
        (
            src: "camera_CN0V976R8LG000CIBJ93A01_Integrated_Webcam_HD_200901010001",
            dst: "gst_to_cu_CN0V976R8LG000CIBJ93A01_Integrated_Webcam_HD_200901010001",
            msg: "(cu_gstreamer::CuGstBuffer, CuDuration)",
            missions: None,
        ),
        (
            src: "gst_to_cu_CN0V976R8LG000CIBJ93A01_Integrated_Webcam_HD_200901010001",
            dst: "apriltags_CN0V976R8LG000CIBJ93A01_Integrated_Webcam_HD_200901010001",
            msg: "(cu_sensor_payloads::CuImage<Vec<u8>>, CuDuration)",
            missions: None,
        ),
    ],
    monitor: None,
    logging: (
        enable_task_logging: false,
    ),
    runtime: None,
    missions: None,
    includes: None,
)