name: Deploy docs

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write
  actions: read
  statuses: read
  deployments: write
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    container: ghcr.io/chalkydri/chalkydri:dev
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v6

      # - name: Update source
      #   run: git config --global --add safe.directory /__w/chalkydri/chalkydri && git pull --force
      
      - name: Restore from cache
        uses: actions/cache/restore@v4
        with:
          key: cargo
          path: |
            ~/.cargo
            ~/.rustup
            
      - name : Install Bun
        uses: oven-sh/setup-bun@v2
      
      - name: Install rust nightly
        run: rustup update nightly && rustup default nightly

      - name: Install deps
        run: apt update && apt install -y curl jq libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev

      - name: Set PKG_CONFIG_PATH
        run: echo "PKG_CONFIG_PATH=/usr/lib/x86_64-linux-gnu/pkgconfig" >> $GITHUB_ENV

      # For musl whenever we can use it again:
      # - name: Setup mdBook
      #   uses: MineBartekSA/quick-mdbook@v1.1
      #   with:
      #     clib: musl
      - name: Build Frontend
        run: |
          cd ui/
          bun install
          bun run gen_api
          bun run build
          cd ..

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v2.0.0

      - run: mdbook build ./book

      - name: Run rustdoc
        run: cargo doc --workspace --document-private-items --no-deps
      
      - name: Save to cache
        uses: actions/cache/save@v4
        with:
          key: cargo
          path: |
            ~/.cargo
            ~/.rustup
      
      - name: Copy rustdoc
        run: mv target/doc book/book

      - name: Upload to pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./book/book

      - name: Deploy to pages
        uses: actions/deploy-pages@v4
